@import './App.scss';

$shapeHeightAndWidth: calc(88.15px + (215 - 88.15) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
$shapeHeightAndWidthLandscape: calc(88.15px + (140 - 88.15) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
$shapeHeightAndWidthDesktop: calc(100px + (228 - 100) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));

.about {
    height: auto;
    display: flex;
    flex-direction: column;
    background: $backgroundAbout;

    @include desktopSmall {
        height: 100vh; //jak zakomentuje to bedzie 2 rozwiazanie
        background-image: url('../images/aboutTło.webp');
        background-repeat: no-repeat;
        background-size: cover;
    }

    @include proNexusLandscape {
        height: auto;
    }


    &__section-title {
        margin-top: 82.76px;
        margin-bottom: 65.2px + 88.15px / 2;
        position: relative;
        left: 94.7%;
        transform: translate(-94.7%);
        @include sectionTitleOne(O mnie);

        /* Responsive Media Queries */
        @include mobilePortrait {
            margin-top: calc(82.76px + (187.86 - 82.76) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-bottom: calc(calc(65.2px + (121 - 65.2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16}))) + #{$shapeHeightAndWidth / 2});
        }

        @include mobileLandscape {
            left: 96.7%;
        }

        @include desktopSmall {
            margin-top: 103px;
            //margin-top: 10.3rem; //do rozwiazania z remami
            margin-bottom: 50px;
            //margin-bottom: 50px + 100px / 2; // 2 rozwiazanie
            left: 98.7%;
            transform: translate(-98.7%);

            @include desktopMedium {
                /*================== Rozwiązanie z Remami ==================*/
                //margin-top: calc(10.3rem + (((100vw - #{$bp-medium-laptopWidth/1em*1.6rem}) / (#{$bp-large-laptopWidth/1em * 1.6} - #{$bp-medium-laptopWidth/1em * 1.6}))) * (23 - 10.3)); // jak z remami zrobic i zmiennymi
                //margin-top: calc(10.3rem + (((100vw - 153.6rem) / (256 - 153.6))) * (23 - 10.3)); //jak z remami zrobic
                //wzór : calc(#{$min-font-size}rem + ((100vw - #{$min-vw}rem) / (#{$max-vw} - #{$min-vw})) * (#{$max-font-size} - #{$min-font-size}));
                /*================== KONIEC ==================*/
                margin-top: calc(103px + (230 - 103) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                margin-bottom: calc(50px + (120 - 50) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                //margin-bottom: calc(calc(50px + (120 - 50) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))) + #{$shapeHeightAndWidthDesktop / 2}); // 2 rozwiazanie
            }
        }

    }

    &__waveTop {
        width: 100%;
    }
}

.story {
    display: flex;
    align-self: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    width: 282.09px;
    height: auto;
    margin-bottom: 11.5px;

    /* Responsive Media Queries */
    @include mobilePortrait {
        width: calc(282.09px + (763 - 282.09) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        margin-bottom: calc(11.5px + (42.5 - 11.5) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
    }

    @include mobileLandscape {
        width: calc(282.09px + (650 - 282.09) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        margin-bottom: calc(11.5px + (42.5 - 11.5) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
    }

    @include desktopSmall {
        width: 530.26px;
        margin-bottom: 0;
        //margin-bottom: 81px; // 2 rozwiazanie
        background: rgba(255, 255, 255, 0.92);

        @include desktopMedium {
            width: calc(530.26px + (972 - 530.26) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            //margin-bottom: calc(81px + (130 - 81) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))); // 2 rozwiazanie
        }
    }

    @include proNexusLandscape {
        margin-bottom: 81px;
    }

    &__shape {
        width: 88.15px;
        height: 88.15px;
        position: relative;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

        /* Responsive Media Queries */
        @include mobilePortrait {
            width: $shapeHeightAndWidth;
            height: $shapeHeightAndWidth;
        }

        @include mobileLandscape {
            width: $shapeHeightAndWidthLandscape;
            height: $shapeHeightAndWidthLandscape;
        }

        @include desktopSmall {
            width: 100px;
            height: 100px;

            @include desktopMedium {
                width: calc(100px + (228 - 100) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                height: calc(100px + (228 - 100) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
    }

    &__caption {
        text-align: center;
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        font-style: italic;
        font-family: $fontTwo;
        margin-top: 12px;

        /* Responsive Media Queries */
        @include mobilePortrait {
            font-size: calc(18px + (48 - 18) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            line-height: calc(18px + (48 - 18) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-top: calc(12px + (34.5 - 12) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            font-size: calc(18px + (32 - 18) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            line-height: calc(18px + (32 - 18) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            margin-top: calc(12px + (20 - 12) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        @include desktopSmall {
            //font-size: 36px;
            //line-height: 36px;
            font-size: 30px;
            line-height: 30px;
            margin-top: 17px;
            width: 200%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);


            @include desktopMedium {
                font-size: calc(30px + (48 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                line-height: calc(30px + (48 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                margin-top: calc(17px + (48.42 - 17) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }
    }

    &__barrier {
        width: 14.1px;
        height: 14.1px;
        background-color: $gold;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 12px;
        position: relative;

        /* Responsive Media Queries */
        @include mobilePortrait {
            width: calc(14.1px + (38 - 14.1) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(14.1px + (38 - 14.1) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-bottom: calc(12px + (34.5 - 12) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            width: calc(14.1px + (23 - 14.1) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(14.1px + (23 - 14.1) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            margin-bottom: calc(12px + (20 - 12) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        @include desktopSmall {
            width: 18px;
            height: 18px;
            margin: 17px auto;

            @include desktopMedium {
                width: calc(18px + (55 - 18) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                height: calc(18px + (55 - 18) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                margin: calc(17px + (25 - 17) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))) auto;
            }
        }

        &::before {
            content: '';
            width: 88.15px;
            border-bottom: .2rem solid $gold;
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            /* Responsive Media Queries */
            @include mobilePortrait {
                width: calc(88.15px + (238.44 - 88.15) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
                border-width: calc(2px + (4 - 2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                width: calc(88.15px + (260 - 88.15) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
                border-width: calc(2px + (3 - 2) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }

            @include desktopSmall {
                width: 200px;

                @include desktopMedium {
                    width: calc(200px + (350 - 200) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                    border-width: calc(2px + (4 - 2) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                }
            }
        }

        &::after {
            content: '';
            width: 88.15px;
            border-bottom: 2px solid $gold;
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            /* Responsive Media Queries */
            @include mobilePortrait {
                width: calc(88.15px + (238.44 - 88.15) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
                border-width: calc(2px + (4 - 2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                width: calc(88.15px + (260 - 88.15) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
                border-width: calc(2px + (3 - 2) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }

            @include desktopSmall {
                width: 200px;

                @include desktopMedium {
                    width: calc(200px + (350 - 200) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                    border-width: calc(2px + (4 - 2) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                }
            }
        }
    }

    &__description {
        font-family: $fontTwo;
        font-size: 12px;
        font-weight: 600;
        font-style: italic;
        line-height: 17px;
        padding: 0 32px 16px 32px;
        text-align: center;

        /* Responsive Media Queries */
        @include mobilePortrait {
            font-size: calc(12px + (32 - 12) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            line-height: calc(17px + (43 - 17) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            padding: 0 calc(32px + (88 - 32) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16}))) calc(16px + (90.5 - 16) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16}))) calc(32px + (88 - 32) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            font-size: calc(12px + (22 - 12) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            line-height: calc(17px + (36 - 17) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            padding: 0 calc(32px + (36 - 32) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))) calc(16px + (50.5 - 16) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))) calc(32px + (36 - 32) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        @include desktopSmall {
            font-size: 18px;
            line-height: 34px;
            padding: 0 55px 24px 55px;

            @include desktopMedium {
                font-size: calc(18px + (36 - 18) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                line-height: calc(34px + (58 - 34) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                padding: 0 calc(55px + (100 - 55) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))) calc(24px + (100 - 24) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))) calc(55px + (100 - 55) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }
    }

}