@import './Base.scss';
@import './Variables.scss';
@import './Reusable.scss';

.App {
  //https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
  //zajmowanie calego miejsca przez App
  /*   display: flex;
  flex-flow: column;
  height: 100%; */
}

/* .main {
  flex: 1 1 auto; // zajmij reszte miejsca wolnej strony
  display: flex;
  flex-flow: column;
} */

/* .hero {
  //flex: 1 1 auto;
  //height: 100vh;
  height: calc(100vh - 44px);
} */

.main {
  padding-top: 44px;
}












/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */