@import './Base.scss';
@import './Variables.scss';
@import './Reusable.scss';
@import './Mixins.scss';

.App {
  //https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
  //zajmowanie calego miejsca przez App
  height: 100%; //dla wersji mobilnej
}

.cakeBox {
  display: flex;

  &__left {
    background: $backgroundDesktop;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 100;
    border-right: 2.5vh solid $gold;

    &:after {
      content: "";
      position: absolute;
      background: $gold;
      top: 50%;
      height: 5vh;
      width: 101%;
    }

    &:before {
      content: "";
      right: -2%;
      position: absolute;
      top: 50%;
      transform: translateY(-25%);
      background-color: $gold;
      height: 10vh;
      width: 5vh;
      border-bottom-left-radius: 90px;
      border-top-left-radius: 90px;
    }
  }

  &__right {
    background: $backgroundDesktop;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 100;
    border-left: 2.5vh solid $gold;

    &:after {
      content: "";
      position: absolute;
      background: $gold;
      top: 50%;
      height: 5%;
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      left: -2%;
      top: 50%;
      transform: translateY(-25%);
      background-color: $gold;
      height: 10vh;
      width: 5vh;
      border-bottom-right-radius: 90px;
      border-top-right-radius: 90px;
    }
  }
}