@import './Base.scss';
@import './Variables.scss';
@import './Reusable.scss';
@import './Mixins.scss';

$sealSize: 20vh;

.App {
  //https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space
  //zajmowanie calego miejsca przez App
  height: 100%; //dla wersji mobilnej
}

.cakeBox {
  display: flex;
  backface-visibility: hidden;
  height: 100%;

  &__seal {
    position: fixed;
    background-image: url('../svg/kokarda.svg');
    background-repeat: no-repeat;
    background-size: $sealSize;
    width: $sealSize;
    height: $sealSize;
    z-index: 101;
    top: 53.3%;
    left: 50.5%;
    transform: translate(-53.3%, -50.5%);
  }

  &__left {
    background: $backgroundDesktop;
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: 100;
    border-right: 2.5vh solid $gold;

    &:after {
      content: "";
      position: absolute;
      background: $gold;
      top: 50%;
      height: 5vh;
      width: 101%;
    }

    &:before {
      content: "";
      right: -2%;
      position: absolute;
      top: 50%;
      transform: translateY(-25%);
      background-color: $gold;
      height: 10vh;
      width: 5vh;
      border-bottom-left-radius: 90px;
      border-top-left-radius: 90px;
    }
  }

  &__right {
    background: $backgroundDesktop;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50.1%;
    height: 100%;
    z-index: 100;
    border-left: 2.5vh solid $gold;
    margin-left: -.9px;
    //width: 50.1% i margin-left: -.9px jest w celu rozwiązania problemu niepotrzebnej białej pionowej kreski wzdłuż kontenera

    &:after {
      content: "";
      position: absolute;
      background: $gold;
      top: 50%;
      height: 5%;
      width: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      left: -2%;
      top: 50%;
      transform: translateY(-25%);
      background-color: $gold;
      height: 10vh;
      width: 5vh;
      border-bottom-right-radius: 90px;
      border-top-right-radius: 90px;
    }
  }
}

.cakeBoxShade {
  filter: brightness(20%) blur(10px);
  overflow-x: hidden;
  backdrop-filter: blur(10px); //pozbycie sie bialej obwodki blura, nie dziala z firefox
}

.loader {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-top: -5.5vh;
  margin-left: -7.5vh;
  border: 2vh solid rgb(255, 255, 255);
  border-radius: 50%;
  border-top: 2vh solid $gold;
  width: 15vh;
  height: 15vh;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}