/* =====================
        Fonts
=======================*/
$fontOne: 'Princess Sofia',
cursive;
$fontTwo: 'Josefin Sans',
sans-serif;
$fontThree: 'Jacques Francois',
serif;



/* =====================
        Colors
=======================*/
$navigationBackground: #F6F4F1;
$gold: #C19D56;

/* $backgroundOne: #F1ECE6; //Tło maślane ciemniejsze
$backgroundTwo: #FCF9F6; //Tło maślane
$backgroundThree: #130705;
$backgroundFour: #211B1A; //Ciemny, ale nieco jaśniejszy od backgroundThree
$backgroundBeż: #FBEFE9;
$backgroundPink: rgba(248, 199, 199, 1); //dla desktop dla kwadrata
$rose: #F3C2D3;
$darkerRose: #ECB6C9;
$gold: #C19D56;
$whiteTransparent: rgba(255, 255, 255, 0.8); */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5%, 1rem = 10px;
    scroll-behavior: smooth;
}

//for mobile to take 100% height
html,
body {
    height: 100%;
}

div#root {
    height: 100%;
}