/* =====================
        Fonts
=======================*/
$fontOne: 'Princess Sofia',
cursive;
$fontTwo: 'Josefin Sans',
sans-serif;
$fontThree: 'Jacques Francois',
serif;



/* =====================
        Colors
=======================*/
$navigationBackground: #F6F4F1;
$gold: #C19D56;
$backgroundDesktop: #FBEFE9;
$backgroundDesktopLeftSide: rgba(248, 199, 199, 0.7);
$backgroundDesktopOfferLeftSide: linear-gradient(180deg, rgba(248, 199, 199, 0.7) 0%, rgba(248, 199, 199, 0) 100%);
$backgroundDesktopOfferRightSide: linear-gradient(180deg, #FBEFE9 0%, rgba(241, 236, 230, 0) 100%);
$heroGradientColorOne: rgba(217, 180, 178, 0);
$heroGradientColorTwo: rgba(249, 148, 98, 0.5);
$backgroundOffer: #F1ECE6;
$backgroundOfferCakes: #FEF7F7;
$backgroundGallery: #FCF9F6;
$pink: #F3C2D3;

/* $backgroundOne: #F1ECE6; //Tło maślane ciemniejsze
$backgroundTwo: #FCF9F6; //Tło maślane
$backgroundThree: #130705;
$backgroundFour: #211B1A; //Ciemny, ale nieco jaśniejszy od backgroundThree
$backgroundBeż: #FBEFE9;
$backgroundPink: rgba(248, 199, 199, 1); //dla desktop dla kwadratu
$rose: #F3C2D3;
$darkerRose: #ECB6C9;
$gold: #C19D56;
$whiteTransparent: rgba(255, 255, 255, 0.8); */


/* ==================
    Break Points 
====================*/

//Portrait width
$bp-small-portraitWidth: 20em; //320px
$bp-medium-portraitWidth: 48em; //768px
$bp-large-portraitWidth: 64em; //1024px
//Portrait height
$bp-small-portraitHeight: 31.938em; // 511px
$bp-large-portraitHeight: 85.375em; //1366px

//Landscape width
$bp-small-landscapeWidth: 37.375em; // 598px
$bp-large-landscapeWidth: 85.375em; // 1366px
//Landscape height
$bp-small-landscapeHeight: 16.875em; // 270px
$bp-medium-landscapeHeight: 48em; // 768px
$bp-large-landscapeHeight: 64em; // 1024px
$bp-largest-landscapeHeight: 80em; // 1280px

//37.375em; // 598px
//35.500em 568px;
//16.875em; // 270px

//Laptop width
$bp-small-laptopWidth: 80em; //1280px;
$bp-medium-laptopWidth: 96em; //1536px
$bp-large-laptopWidth: 160em; // 2560px;

//120em //1920px
//160em //2560px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5%, 1rem = 10px;
    scroll-behavior: smooth;
}

//for mobile to take 100% height
html,
body {
    height: 100%;
}

div#root {
    height: 100%;
}