@import './App.scss';

.footer {
    background-color: $backgroundFooter;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -.1%;

    &__authorContainer {
        @include mobileLandscape {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //height: 80vh;
            //height: 255px;
            //height: 355px;
            //height: calc(255px + (500 - 255) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: 80vh;
            margin: 0 calc(11px + (28.44 - 11) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em*16} - #{$bp-small-landscapeHeight/1em*16})));
        }

        @include desktopSmall {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 136.5px;
        }

        @include desktopMedium {
            height: calc(136.5px + (319.36 - 136.5) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }

    }

    /*     &__cakeIcon {
        display: flex;
        align-self: center;
        width: 73.14px;
        height: 96.81px;
        margin-top: 63px;
        margin-bottom: 42px;

        
        @include mobilePortrait {
            width: calc(73.14px + (187.5 - 73.14) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(96.81px + (229.17 - 96.81) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-top: calc(63px + (168 - 63) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-bottom: calc(42px + (110 - 42) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }
    }

    &__heading {
        text-align: center;
        color: $gold;
        font-family: $fontOne;
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 42px;

       
        @include mobilePortrait {
            font-size: calc(36px + (96 - 36) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-bottom: calc(42px + (90 - 42) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }
    } */
}

.authorLogo {
    display: flex;
    flex-direction: column;

    @include mobileLandscape {
        flex-direction: row;
        align-self: center;
        margin: 0 auto;
        position: relative;
    }

    @include desktopSmall {
        flex-direction: row;
        align-self: center;
        margin: 0 auto;
        position: relative;
    }

    &__cakeIcon {
        display: flex;
        align-self: center;
        width: 73.14px;
        height: 96.81px;
        margin-top: 63px;
        margin-bottom: 42px;

        /* Responsive Media Queries */
        @include mobilePortrait {
            width: calc(73.14px + (187.5 - 73.14) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(96.81px + (229.17 - 96.81) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-top: calc(63px + (168 - 63) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-bottom: calc(42px + (110 - 42) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            flex-direction: row;
            margin: 0;
            width: calc(41px + (73 - 41) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(41px + (76 - 41) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            margin-right: calc(10.5px + (20 - 10.5) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        @include desktopSmall {
            flex-direction: row;
            margin: 0;
            width: 62px;
            height: 44px;
            margin-right: 7px;
        }

        @include desktopMedium {
            width: calc(62px + (105 - 62) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(44px + (145 - 44) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            margin-right: calc(7px + (39.5 - 7) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__heading {
        text-align: center;
        color: $gold;
        font-family: $fontOne;
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 42px;

        /* Responsive Media Queries */
        @include mobilePortrait {
            font-size: calc(36px + (96 - 36) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-bottom: calc(42px + (90 - 42) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            display: flex;
            align-self: flex-end;
            margin-bottom: 0;
            position: relative;
            font-size: calc(18px + (36 - 18) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            top: calc(4px - (0 + 4) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        @include desktopSmall {
            display: flex;
            align-self: flex-end;
            margin-bottom: 0;
            position: relative;
            font-size: 26px;
        }

        @include desktopMedium {
            font-size: calc(26px + (64 - 26) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }
}

.authorData {
    display: flex;
    flex-direction: column;
    font-family: $fontTwo;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: $gold;
    text-align: center;

    /* Responsive Media Queries */
    @include mobilePortrait {
        font-size: calc(18px + (48 - 18) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        line-height: calc(18px + (48 - 18) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
    }

    @include mobileLandscape {
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin: 0 auto;
        position: relative;

        font-size: calc(14px + (32 - 14) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));

        &:before {
            content: '';
            width: 1px;
            position: absolute;
            left: -10%;
            border-bottom: calc(170px + (360 - 170) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))) solid $gold;
        }

        &:after {
            content: '';
            width: 1px;
            position: absolute;
            left: 110%;
            //left: 100%;
            border-bottom: calc(170px + (360 - 170) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))) solid $gold;
        }
    }

    @include desktopSmall {
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin: 0 auto;
        position: relative;
        font-size: 18px;

        @include desktopMedium {
            font-size: calc(18px + (36 - 18) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }

        &:before {
            content: '';
            width: 1px;
            position: absolute;
            border-width: 230px;
            border-bottom: 120px solid $gold;
            left: -80%;

            @include desktopMedium {
                border-width: calc(120px + (281.65 - 120) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }

        &:after {
            content: '';
            width: 1px;
            position: absolute;
            border-width: 230px;
            border-bottom: 120px solid $gold;
            left: 180%;

            @include desktopMedium {
                border-width: calc(120px + (281.65 - 120) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }
    }

    &__mail,
    &__phoneNumber {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__mail {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-bottom: 28px;

        @include mobileLandscape {
            margin-bottom: calc(10px + (30 - 10) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));

            /*             margin-right: calc(10px + (80 - 10) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            margin-left: calc(10px + (80 - 10) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))); */
        }

        @include desktopSmall {
            margin-bottom: 10px;
        }

        @include desktopMedium {
            margin-bottom: calc(10px + (27.62 - 10) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }

        &:before {
            content: '';
            background-image: url('../svg/emailIcon.svg');
            background-size: 28px 28px;
            height: 28px;
            width: 28px;
            margin-right: 7px;

            /* Responsive Media Queries */
            @include mobilePortrait {
                background-size: calc(28px + (70 - 28) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16}))) calc(28px + (70 - 28) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
                height: calc(28px + (70 - 28) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
                width: calc(28px + (70 - 28) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
                margin-right: calc(7px + (26 - 7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                background-size: calc(28px + (36 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))) calc(28px + (36 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
                height: calc(28px + (36 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
                width: calc(28px + (36 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }

            @include desktopSmall {
                margin-right: 15px;
                background-size: 30px 30px;
                height: 30px;
                width: 30px;
            }

            @include desktopMedium {
                background-size: calc(30px + (63 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))) calc(30px + (57 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                height: calc(30px + (57 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                width: calc(30px + (63 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }
    }

    &__phoneNumber {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        margin-bottom: 45.24px;

        /* Responsive Media Queries */
        @include mobilePortrait {
            margin-bottom: calc(45.24px + (71.5 - 45.24) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            margin-bottom: 0;
        }

        @include desktopSmall {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            background-image: url('../svg/phoneIcon.svg');
            background-size: 28px 28px;
            height: 28px;
            width: 28px;
            margin-right: 7px;

            /* Responsive Media Queries */
            @include mobilePortrait {
                background-size: calc(28px + (70 - 28) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16}))) calc(28px + (70 - 28) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
                height: calc(28px + (70 - 28) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
                width: calc(28px + (70 - 28) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
                margin-right: calc(7px + (26 - 7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                background-size: calc(28px + (36 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))) calc(28px + (36 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
                height: calc(28px + (36 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
                width: calc(28px + (36 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }

            @include desktopSmall {
                margin-right: 15px;
                background-size: 30px 30px;
                height: 30px;
                width: 30px;
            }

            @include desktopMedium {
                background-size: calc(30px + (63 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))) calc(30px + (57 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                height: calc(30px + (57 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                width: calc(30px + (63 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }
    }
}

.social {
    display: flex;
    justify-content: center;
    //position: relative;
    //left: -8%;
    margin-bottom: 37px;

    /* Responsive Media Queries */
    @include mobilePortrait {
        margin-bottom: calc(37px + (59.27 - 37) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
    }

    @include mobileLandscape {
        margin-bottom: 0;
        align-self: center;
        margin: 0 auto;
    }

    @include desktopSmall {
        margin-bottom: 0;
        align-self: center;
        margin: 0 auto;
    }

    &__facebook,
    &__instagram {
        background-image: url('../svg/triangle.svg');
        background-size: 71px 71px;
        background-repeat: no-repeat;
        height: 71px;
        width: 71px;
        position: relative;


        /* Responsive Media Queries */
        @include mobilePortrait {
            background-size: calc(71px + (224 - 71) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16}))) calc(71px + (224 - 71) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(71px + (224 - 71) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            width: calc(71px + (224 - 71) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            background-size: calc(71px + (100 - 71) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))) calc(71px + (100 - 71) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(71px + (100 - 71) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            width: calc(71px + (100 - 71) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        @include desktopSmall {
            cursor: pointer;
            background-size: 69px 64px;
            height: 64px;
            width: 69px;
        }

        @include desktopMedium {
            background-size: calc(69px + (185 - 69) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))) calc(64px + (150 - 64) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(64px + (150 - 64) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            width: calc(69px + (185 - 69) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__instagram {
        transform: rotate(180deg);
        //position: absolute;
        //left: 52%;
        //left: 52%;
        //margin-left: -30px;
        margin-left: -9.4%;

        /* Responsive Media Queries */
        /*         @include mobilePortrait {
            margin-left: calc(-30px + (-100 - -30) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        } */
        @include mobileLandscape {
            margin-left: -22%;
        }

        @include desktopSmall {
            margin-left: -22%;
        }
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -75%);
        width: 27px;
        height: 27px;

        /* Responsive Media Queries */
        @include mobilePortrait {
            width: calc(27px + (84 - 27) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(27px + (84 - 27) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            height: calc(27px + (40 - 27) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            width: calc(27px + (40 - 27) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        @include desktopSmall {
            width: 26px;
            height: 24px;
        }

        @include desktopMedium {
            width: calc(26px + (68 - 26) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(24px + (64 - 24) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }
}

.websiteAuthor {
    width: 100%;
    height: 31px;
    //background: #211B1A;
    background-color: #2C110D;
    color: $gold;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Responsive Media Queries */
    @include mobilePortrait {
        height: calc(31px + (74.7 - 31) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
    }

    @include mobileLandscape {
        height: calc(31px + (70 - 31) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
    }

    @include desktopSmall {
        height: 48px;
    }

    @include desktopMedium {
        height: calc(48px + (91.64 - 48) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
    }

    &__heading {
        font-family: $fontTwo;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;

        /* Responsive Media Queries */
        @include mobilePortrait {
            font-size: calc(14px + (24 - 14) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            line-height: calc(14px + (24 - 14) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            font-size: calc(14px + (32 - 14) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            line-height: calc(14px + (32 - 14) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        @include desktopSmall {
            font-size: 18px;
            line-height: 18px;
        }

        @include desktopMedium {
            font-size: calc(18px + (36 - 18) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            line-height: calc(18px + (36 - 18) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }

    }


}