@import './App.scss';

.hero {
    //height: calc(100vh - #{$navigationHeight});
    //height: 100vh;
    height: calc(100% - #{$navigationHeight});
    background-image: url(../images/tłoKwiatyLight.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /*     display: flex;
    flex-direction: column; */

    position: relative; // rozwiazanie 2

    /* Responsive Media Queries */

    @media screen and (orientation:portrait) and (min-width : $bp-medium-portraitWidth) and (max-width : $bp-large-portraitWidth) {
        background-image: url(../images/tłoKwiatyMedium.webp);
    }

    @media screen and (orientation:landscape) and (min-width: 360px) and (max-height: 1024px) {
        height: 100%;
        background-image: url(../images/tłoKwiatyMedium.webp);
        background-size: cover;
    }

    &__author {
        position: absolute;
        top: 23.8%;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 3.6rem;
        font-family: $fontOne;
        color: $gold;
        width: 19rem;
        height: 7.5rem;
        font-weight: 400;
        background: rgba(252, 242, 238, 0.88);
        border: .3rem solid $gold;
        border-radius: 4.45rem;

        /* Responsive Media Queries */
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(180.7px + (345 - 180.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(72.2px + (123 - 72.2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            font-size: calc(34.4px + (64 - 34.4) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            border-radius: calc(42.5px + (88 - 42.5) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            border-width: calc(2.9px + (6 - 2.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            top: 8%;

            width: calc(150px + (360 - 150) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(55px + (123 - 55) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            font-size: calc(28px + (70 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            border-radius: calc(44.5px + (80 - 44.5) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            border-width: calc(3px + (6 - 3) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }

    &__poster {
        width: 25.7rem;
        position: absolute;
        top: 39.5%;
        left: 50%;
        transform: translate(-50%);

        /* Responsive Media Queries */
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(235.7px + (611.38 - 235.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            top: 30%;
            width: calc(250px + (650 - 250) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(100px + (450 - 100) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }

    &__img {
        width: 25.7rem;

        /* Responsive Media Queries */
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(235.7px + (611.38 - 235.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            top: 38%;
            width: calc(250px + (650 - 250) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(100px + (450 - 100) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }

    &__primaryTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 4.2rem;
        font-family: $fontOne;
        font-weight: 400;
        width: 23.5rem;
        color: $gold;

        /* Responsive Media Queries */

        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(219.1px + (500 - 219.1) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            font-size: calc(38.8px + (96 - 38.8) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {

            width: calc(180px + (500 - 180) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));

            font-size: calc(30px + (96 - 30) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        span {
            color: black;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 30.9rem;
        position: absolute;
        top: 83%;
        left: 50%;
        transform: translateX(-50%);

        /* Responsive Media Queries */
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(279px + (808 - 279) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            top: 79%;
            width: calc(330px + (1000 - 330) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }

    &__button {
        @include button(126px, 47px, 18px);

        &--check {
            @extend .button-check;
        }

        &--contact {
            @extend .button-contact;
        }

        /* Responsive Media Queries */

        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(112.6px + (349 - 112.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(43.5px + (106 - 43.5) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            font-size: calc(16.3px + (47 - 16.3) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            line-height: calc(16.3px + (47 - 16.3) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {

            width: calc(100px + (360 - 100) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(35px + (95.5 - 35) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            font-size: calc(14px + (47 - 14) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            line-height: calc(14px + (47 - 14) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }

    &__lukier {
        width: 100%;
        position: relative;
        top: 97%;

        /* Responsive Media Queries */

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            top: 96%;
        }

    }

    &__lukier-img {
        width: 100%;
        height: 7.7rem;

        /* Responsive Media Queries */

        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            height: calc(72.4px + (155 - 72.4) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            height: calc(65px + (200 - 65) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }
}


/*=======================================================
                    DESKTOP VERSION
=========================================================*/



.hero-desktop {
    height: calc(100vh - #{$navigationHeightLaptop});
    //background-color: $backgroundDesktop;
    display: flex;
    flex-direction: row;

    &__left-side {
        width: 30%;
        background-color: $backgroundDesktopLeftSide;

        /* Responsive Media Queries */

        @include ipadPro {
            width: 35%;
        }

        @include desktopMedium {
            width: calc(30% + (200 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__mainImageContainer {
        width: 100%;
        height: calc(100% - 8.9%);
        position: relative;
        left: 13.2%;
        top: 5%;
        background-image: linear-gradient(158.59deg, $heroGradientColorOne 0%, $heroGradientColorTwo 100%);
        backdrop-filter: blur(4px);
    }

    &__mainImage {
        width: 100%;
        height: 100%;
    }

    &__right-side {
        background-color: $backgroundDesktop;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    &__author {
        text-align: center;
        font-family: $fontOne;
        color: $gold;
        font-size: 5.6rem;
        font-weight: 400;
        position: relative;
        top: 6.4%;
        margin-bottom: 1rem;

        /* Responsive Media Queries */

        @include ipadPro {
            top: 12.8%;
            font-size: 7rem;
        }

        @include desktopMedium {
            margin-bottom: 3.5rem;
            font-size: calc(56px + (106 - 56) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__poster {
        align-self: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        width: 41.573rem;
        height: 14.6rem;
        background-color: inherit;
        position: relative;
        top: 11.7%;

        /* Responsive Media Queries */

        @include ipadPro {
            top: 20%;
            width: 50rem;
            height: 20rem;
        }

        @include desktopMedium {
            width: calc(415.73px + (800 - 415.73) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(146px + (303.2 - 146) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__flower {
        position: absolute;
        left: 82.1%;
        bottom: 68.5%;
        width: 12.4rem;
        height: 10.9rem;

        /* Responsive Media Queries */

        @include ipadPro {
            width: 15rem;
            height: 15rem;
        }

        @include desktopMedium {
            width: calc(124px + (225 - 124) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(109px + (230 - 109) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__primaryTitle {
        height: inherit;
        border: 1px solid #000000;
        padding: 1rem 4rem;
        background-color: inherit;
        font-family: $fontThree;
        font-size: 4.8rem;
        font-weight: 400;
        text-align: center;
        z-index: 1;

        /* Responsive Media Queries */

        @include ipadPro {
            font-size: 5.6rem;
            padding: 2rem 4rem;
        }

        @include desktopMedium {
            font-size: calc(48px + (90 - 48) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            padding: calc(10px + (20 - 10) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))) 40px;
        }
    }

    &__barrier {
        width: 2.5rem;
        height: 2.5rem;
        background-color: $gold;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        top: 20.4%;

        /* Responsive Media Queries */

        @include ipadPro {
            top: 28.7%;
            width: 5rem;
            height: 5rem;
        }

        @include desktopMedium {
            width: calc(25px + (50 - 25) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(25px + (50 - 25) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }

        &::before {
            content: '';
            width: 24.583rem;
            border-bottom: .2rem solid $gold;
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            /* Responsive Media Queries */

            @include ipadPro {
                border-width: .3rem;
            }

            @include desktopMedium {
                width: calc(245.83px + (400 - 248.83) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                border-width: calc(2px + (4 - 2) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }

        &::after {
            content: '';
            width: 24.583rem;
            border-bottom: 2px solid $gold;
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            /* Responsive Media Queries */

            @include ipadPro {
                border-width: .3rem;
            }

            @include desktopMedium {
                width: calc(245.83px + (400 - 248.83) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                border-width: calc(2px + (4 - 2) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 44.1rem;
        position: relative;
        top: 33.8%;

        /* Responsive Media Queries */

        @include ipadPro {
            top: 42.1%;
            width: 55rem;
        }

        @include desktopMedium {
            width: calc(441px + (820 - 441) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__button {
        @include button(192px, 56px, 24px);
        border: .3rem solid;
        font-family: $fontThree;
        font-weight: 400;
        font-size: 2.4rem;
        font-style: normal;

        /* Responsive Media Queries */

        @include ipadPro {
            width: 23rem;
            height: 7rem;
            font-size: 3rem;
        }

        @include desktopMedium {
            width: calc(192px + (350 - 192) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));

            height: calc(56px + (120 - 56) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));

            font-size: calc(24px + (46 - 24) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }


        &--check {
            @extend .button-check;
        }

        &--contact {
            @extend .button-contact;
            border-color: #FFFFFF !important;

            &:hover {
                border-color: $gold !important;
            }
        }
    }

    &__lukier {
        position: absolute;
        top: 93.7%;
        width: 100%;
        z-index: 90;

        /* Responsive Media Queries */

        @include ipadPro {
            top: 94.5%;
        }

        @include desktopMedium {
            top: 94%;
        }
    }

    &__lukier-img {
        width: inherit;
        height: 15.1rem;

        /* Responsive Media Queries */

        @include desktopMedium {
            height: calc(151px + (480 - 151) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }
}