@import './App.scss';

.hero {
    //height: calc(100vh - #{$navigationHeight});
    //height: 100vh;
    height: calc(100% - #{$navigationHeight});
    background-image: url(../images/tłoKwiatyLight.webp);
    background-repeat: no-repeat;
    background-size: cover;
    /*     display: flex;
    flex-direction: column; */

    position: relative; // rozwiazanie 2

    @media screen and (orientation:portrait) and (min-width : $bp-medium-portraitWidth) and (max-width : $bp-large-portraitWidth) {
        background-image: url(../images/tłoKwiatyMedium.webp);
    }

    /*     @media screen and (orientation:portrait) and (min-width : 768px) and (max-width : 1024px) {
        background-image: url(../images/tłoKwiatyMedium.webp);
    } */

    @media screen and (orientation:landscape) and (min-width: 360px) and (max-height: 1024px) {
        height: 100%;
        background-image: url(../images/tłoKwiatyMedium.webp);
        background-size: cover;
    }

    /*     @media screen and (min-width: $bp-small-laptopWidth) {
        position: static;
        background-image: none;
        background-color: #FBEFE9;
        height: calc(100vh - #{$navigationHeightLaptop})
    } */

    &__author {
        position: absolute;
        //top: 184px;
        //top: 28.8%;
        top: 23.8%;

        /*     position: relative;
        top: 23.5%; */
        //position: relative; //rozwiazanie 2
        //top: 23.5%;


        //left: 86px;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 3.6rem;
        font-family: $fontOne;
        color: $gold;
        width: 190px;
        height: 75px;
        font-weight: 400;
        background: rgba(252, 242, 238, 0.88);
        border: 3px solid $gold;
        //box-sizing: border-box;
        border-radius: 44.5px;

        //Responsive styles
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            //width: calc(242.5px + (345 - 242.5) * ((100vw - #{$bp-small-portraitWidth}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            width: calc(180.7px + (345 - 180.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(72.2px + (123 - 72.2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            font-size: calc(34.4px + (64 - 34.4) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            border-radius: calc(42.5px + (88 - 42.5) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            border-width: calc(2.9px + (6 - 2.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        /*         @media screen and (orientation:portrait) and (min-width : 360px) and (max-width : 1024px) {
            width: calc(190px + (345 - 190) * ((100vw - 360px) / (1024 - 360)));
            height: calc(75px + (123 - 75) * ((100vw - 360px) / (1024 - 360)));
            font-size: calc(36px + (64 - 36) * ((100vw - 360px) / (1024 - 360)));
            border-radius: calc(44.5px + (80 - 44.5) * ((100vw - 360px) / (1024 - 360)));
            border-width: calc(3px + (6 - 3) * ((100vw - 360px) / (1024 - 360)));
        } */

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            //top:15%;
            top: 8%;

            width: calc(150px + (360 - 150) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(55px + (123 - 55) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            font-size: calc(28px + (70 - 28) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            border-radius: calc(44.5px + (80 - 44.5) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            border-width: calc(3px + (6 - 3) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        /*         @media (orientation: landscape) {
            top: 15%;
        } */
    }

    &__poster {
        width: 25.7rem;
        position: absolute;
        //top: 253px;
        top: 39.5%;

        //position: relative; //rozwiazanie 2
        //top: 22.5%;

        left: 50%;
        transform: translate(-50%);

        //Responsive styles
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(235.7px + (611.38 - 235.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        /*         @media screen and (orientation:portrait) and (min-width : 360px) and (max-width : 1024px) {
            width: calc(257px + (611.38 - 257) * ((100vw - 360px) / (1024 - 360)));
        } */

        /*         @media (orientation: landscape) {
            top: 32%;
        } */
        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            //top: 35%;
            top: 30%;
            //top: calc(30% + (75 - 30) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            width: calc(250px + (650 - 250) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(100px + (450 - 100) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            /*    width: 250px;
            height: 100px; */
            /*             width: 650px;
            height: 450px; */
        }
    }

    &__img {
        width: 25.7rem;

        /*         width: 250px;
        height: 100px; */

        /*         width: 650px;
        height: 450px; */

        //Responsive styles
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(235.7px + (611.38 - 235.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            top: 38%;
            width: calc(250px + (650 - 250) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(100px + (450 - 100) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        /*         @media screen and (orientation:portrait) and (min-width : 360px) and (max-width : 1024px) {
            width: calc(257px + (611.38 - 257) * ((100vw - 360px) / (1024 - 360)));
            //height: 441.57px;
        } */
    }

    &__primaryTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 4.2rem;
        font-family: $fontOne;
        font-weight: 400;
        width: 235px;
        color: $gold;

        //Responsive Styles
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(219.1px + (500 - 219.1) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            font-size: calc(38.8px + (96 - 38.8) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        /*         @media screen and (orientation:portrait) and (min-width : 360px) and (max-width : 1024px) {
            width: calc(235px + (500 - 235) * ((100vw - 360px) / (1024 - 360)));
            font-size: calc(42px + (96 - 42) * ((100vw - 360px) / (1024 - 360)));
        } */

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {

            width: calc(180px + (500 - 180) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));

            font-size: calc(30px + (96 - 30) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            /* 
            font-size: 30px;
            width: 180px;

            font-size: 96px;
            width: 500px; */
        }

        span {
            color: black;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 309px;
        position: absolute;
        //top: 510px;
        //top: 79.7%;
        top: 83%;

        //position: relative; //rozwiazanie 2
        //top: 33.3%;

        left: 50%;
        transform: translateX(-50%);

        //Responsive Styles
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(279px + (808 - 279) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        //width: 1000px;
        //330px

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            top: 79%;
            width: calc(330px + (1000 - 330) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        /*        @media screen and (orientation:portrait) and (min-width : 360px) and (max-width : 1024px) {
            width: calc(309px + (808 - 309) * ((100vw - 360px) / (1024 - 360)));
        } */
    }

    &__button {
        @include button(126px, 47px, 18px);

        &--check {
            @extend .button-check;
        }

        &--contact {
            @extend .button-contact;
        }

        //Responsive Styles
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(112.6px + (349 - 112.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(43.5px + (106 - 43.5) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            font-size: calc(16.3px + (47 - 16.3) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            line-height: calc(16.3px + (47 - 16.3) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        /*         @media screen and (orientation:portrait) and (min-width : 360px) and (max-width : 1024px) {
            width: calc(126px + (349 - 126) * ((100vw - 360px) / (1024 - 360)));
            height: calc(47px + (106 - 47) * ((100vw - 360px) / (1024 - 360)));
            font-size: calc(18px + (47 - 18) * ((100vw - 360px) / (1024 - 360)));
            line-height: calc(18px + (47 - 18) * ((100vw - 360px) / (1024 - 360)));
        } */

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {

            width: calc(100px + (360 - 100) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(35px + (95.5 - 35) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            font-size: calc(14px + (47 - 14) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            line-height: calc(14px + (47 - 14) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));

            /*             width: 100px;
            height: 35px;
            font-size: 14px;

            width: 360px;
            height: 95.5px;
            font-size: 47px; */
        }
    }

    &__lukier {
        //position: absolute; //jakz robie relative nie wyjdzie, bo bedzie liczony wzgledem jego pierwotnej pozycji, a na ekranie telefonu to sie troche rozni niz w testowaniu
        //top: 97.3%;
        width: 100%;
        position: relative; //chyba, ze zakomentuje position relatvie w hero
        top: 97%;

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            top: 96%;
        }

    }

    &__lukier-img {
        width: 100%;
        height: 7.7rem;

        //Responsive Styles
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            height: calc(72.4px + (155 - 72.4) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        /*         @media screen and (orientation:portrait) and (min-width : 360px) and (max-width : 1024px) {
            height: calc(77px + (155 - 77) * ((100vw - 360px) / (1024 - 360)));
        } */
        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            height: calc(65px + (200 - 65) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }
}

/*=======================================================
                    DESKTOP VERSION
=========================================================*/



.hero-desktop {
    height: calc(100vh - #{$navigationHeightLaptop});
    //background-color: $backgroundDesktop;
    display: flex;
    flex-direction: row;

    &__left-side {
        //width: 439px;
        // width: 28.9%;
        width: 453.2px;
        width: 30%;
        background-color: $backgroundDesktopLeftSide;

        @include desktopMedium {
            width: calc(30% + (200 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }

        /* @include desktopMedium {
            width: calc(30% + (200 - 30) * ((100vw - #{strip-unit($bp-medium-laptopWidth*16px)}) / #{strip-unit($bp-large-laptopWidth*16 - $bp-medium-laptopWidth*16)}));
        } */


        /*         @media screen and (min-width:1900px) {
            width: calc(30% + 4%);
        } */

        /*         @include desktopMedium {
            width: calc(30% + (200 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
 */
        /*         @media screen and (min-width:$bp-medium-laptopWidth) and (max-width: $bp-large-laptopWidth) {
            width: calc(453.2px + (1000 - 453.2) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        } */

    }

    &__mainImageContainer {
        width: 453.2px;
        width: 100%;
        //width: 128.9%;
        //width: 133.1%;
        //height: calc(100% - 60px);
        //height: 100%;
        //height: calc(100% - 8.9%);
        height: calc(100% - 8.9%);
        position: relative;
        left: 13.2%;
        //top: 8.9%;
        top: 5%;
        background-image: linear-gradient(158.59deg, rgba(217, 180, 178, 0) 0%, rgba(249, 148, 98, 0.5) 100%);
        //background-image: url(../images/tłoKwiatyTransparent.png), linear-gradient(158.59deg, rgba(217, 180, 178, 0) 0%, rgba(249, 148, 98, 0.5) 100%);
        //background-repeat: no-repeat;
        //background-size: cover;
        backdrop-filter: blur(4px);
        //background-size: fill;
        //background-position: 0 100%;

        //margin-left: 58px;
        //margin-top: 35px;
        //margin-top: 60px;
        //top: 13.2%;
        //z-index: 10;
    }

    &__mainImage {
        width: 100%;
        height: 100%;
    }

    &__right-side {
        background-color: $backgroundDesktop;
        //width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        /*         @media screen and (orientation:landscape) and (min-height : 722px) {
            background-color: red;
        } */
    }

    &__author {
        text-align: center;
        font-family: $fontOne;
        color: $gold;
        font-size: 5.6rem;
        font-weight: 400;
        //margin-top: 75px;
        // margin-top: 6.4%;

        //margin-top: 35px;
        position: relative;
        top: 6.4%;
        //margin-top: 35px;
        margin-bottom: 35px;

        @include desktopMedium {
            font-size: calc(56px + (106 - 56) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__poster {
        align-self: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        width: 415.73px;
        height: 146px;
        //border: 1px solid #000000;
        //padding: 10px 40px;
        //margin-top: 78px;
        background-color: inherit;
        position: relative;
        top: 78px;
        top: 11.7%;
        //top: 15%;

        /*         &:after {
            content: '';
            width: 124px;
            height: 109px;
            position: absolute;
            bottom: 68.5%;
            left: 82.1%;
            background-image: url(../images/fancyplant.png);
            background-repeat: no-repeat;
            background-size: cover;
        } */

        @include desktopMedium {
            width: calc(415.73px + (800 - 415.73) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(146px + (303.2 - 146) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__flower {
        position: absolute;
        left: 82.1%;
        bottom: 68.5%;
        width: 124px;
        height: 109px;

        //overflow: hidden;
        /*         position: absolute;
        bottom: 61.5%;
        left: 70%;
        z-index: 1; */
        @include desktopMedium {
            width: calc(124px + (225 - 124) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(109px + (230 - 109) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__primaryTitle {
        height: inherit;
        border: 1px solid #000000;
        padding: 10px 40px;
        //margin-top: 78px;
        background-color: inherit;
        font-family: $fontThree;
        font-size: 48px;
        font-weight: 400;
        text-align: center;
        z-index: 1;

        @include desktopMedium {
            font-size: calc(48px + (90 - 48) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            padding: calc(10px + (20 - 10) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16}))) 40px;
        }
    }

    &__barrier {
        width: 25px;
        height: 25px;
        background-color: $gold;
        border-radius: 50%;
        margin: 0 auto;
        //margin-top: 57px;
        position: relative;
        top: 135px;
        top: 20.4%;

        @include desktopMedium {
            width: calc(25px + (50 - 25) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(25px + (50 - 25) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }

        &::before {
            content: '';
            width: 245.83px;
            border-bottom: 2px solid $gold;
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            @include desktopMedium {
                width: calc(245.83px + (400 - 248.83) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                border-width: calc(2px + (4 - 2) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }

        /*         &::after {
            display: inline-block;
            content: "";
            border-top: .2rem solid $gold;
            width: 245.83px;
            //15.83px;
            //transform: translate(20%, 100%);
            //margin-left: 39.83px;
            margin-left: 155.3%;
            transform: translateY(100%);
        } */

        &::after {
            content: '';
            width: 245.83px;
            border-bottom: 2px solid $gold;
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            @include desktopMedium {
                width: calc(245.83px + (400 - 248.83) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
                border-width: calc(2px + (4 - 2) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-self: center;
        width: 441px;
        //margin-top: 89px;
        position: relative;
        top: 224px;
        top: 33.8%;

        @include desktopMedium {
            width: calc(441px + (820 - 441) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__button {
        @include button(192px, 56px, 24px);
        border: .3rem solid;
        font-family: $fontThree;
        font-weight: 400;
        font-size: 24px;
        font-style: normal;

        @include desktopMedium {
            width: calc(192px + (350 - 192) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));

            height: calc(56px + (120 - 56) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));

            font-size: calc(24px + (46 - 24) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }


        &--check {
            @extend .button-check;
        }

        &--contact {
            @extend .button-contact;
            border-color: #FFFFFF !important;

            &:hover {
                border-color: $gold !important;
            }
        }
    }

    &__lukier {
        position: absolute;
        top: 93.7%; //94
        //top: 94%;
        width: 100%;

        //height: 110px;
        @include desktopMedium {
            top: 94%;
        }
    }

    &__lukier-img {
        width: inherit;
        height: 151px;

        @include desktopMedium {
            height: calc(151px + (500 - 151) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }
}