@import './App.scss';

.header {
    height: $navigationHeight;

    @media screen and (orientation:landscape) {
        height: $navigationHeightLandscape;
    }

    @media screen and (min-width:$bp-small-laptopWidth) {
        height: $navigationHeightLaptop;
    }

    @media screen and (min-width:$bp-medium-laptopWidth) {
        height: $navigationHeightLaptopRwd;
    }
}

.navigation {
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.3rem;
    height: inherit;
    background-color: $navigationBackground;
    z-index: 100;

    /* Responsive Media Queries */

    @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
        padding: 0rem calc(8.5px + (28.44 - 8.5) * ((100vw - #{$bp-small-portraitWidth}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
    }

    @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
        padding: 0rem calc(11px + (28.44 - 11) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em*16} - #{$bp-small-landscapeHeight/1em*16})));
    }

    @media screen and (min-width:$bp-small-laptopWidth) {
        padding: 0 4rem;
    }

    @media screen and (min-width:$bp-medium-laptopWidth) {
        padding: 0rem calc(40px + (100 - 40) * ((100vw - #{$bp-small-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em*16} - #{$bp-small-laptopWidth/1em*16})));
    }


    &__logo {
        width: 3.1rem;
        height: 2.9rem;

        /* Responsive Media Queries */

        //#{$bp-small-portraitWidth/1em * 16px}, bo chce zachowac w portrait i landscape takie same, bądź bardzo zbliżone do siebie wartości i tym sposobem są najbardziej zbliżone
        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(31px + (68.27 - 31) * ((100vw - #{$bp-small-portraitWidth/1em * 16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(29px + (64.36 - 29) * ((100vw - #{$bp-small-portraitWidth/1em * 16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            width: calc(31px + (68.27 - 31) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(29px + (64.36 - 29) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        @media screen and (min-width:$bp-small-laptopWidth) {
            width: 4.05rem;
            height: 4.05rem;
        }

        @media screen and (min-width:$bp-medium-laptopWidth) {
            width: calc(40.5px + (90 - 40.5) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
            height: calc(40.5px + (90 - 40.5) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__menu {
        width: 2.4rem;
        height: 2.4rem;

        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width : $bp-large-portraitWidth) {
            width: calc(24px + (68.27 - 24) * ((100vw - #{$bp-small-portraitWidth/1em * 16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(24px + (64.36 - 24) * ((100vw - #{$bp-small-portraitWidth/1em * 16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
            width: calc(24px + (68.27 - 24) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(24px + (64.36 - 24) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }
}

.desktop-itemList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65rem;

    @media screen and (min-width:$bp-medium-laptopWidth) {
        width: calc(650px + (1200 - 650) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
    }

    &__item {
        font-family: $fontThree;
        font-size: 2rem;

        @media screen and (min-width:$bp-medium-laptopWidth) and (max-width: $bp-large-laptopWidth) {
            font-size: calc(20px + (48 - 20) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }

        &:hover {
            color: $gold;
            cursor: pointer;
        }
    }
}