@import './App.scss';
$spaceBetweenIcons: calc(2.7px + (9 - 2.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
$iconSize: calc(14px + (50 - 14) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));

.offer {
    height: auto;
    background-color: $backgroundOffer;
    display: flex;
    flex-direction: column;
    //position: relative; //do 2 sposobu

    &__section-title {
        margin-top: 13.8rem;
        margin-bottom: 2.7rem;
        position: relative;
        left: 94.7%;
        transform: translate(-94.7%);
        @include sectionTitleOne(Oferta);

        /* Responsive Media Queries */
        @include mobilePortrait {
            margin-top: calc(132.6px + (229 - 132.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-bottom: calc(23.9px + (79 - 23.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            left: 96.7%;
            margin-top: calc(138px + (250 - 138) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            margin-bottom: calc(27px + (60 - 27) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0rem 1.3rem 6.56rem 1.3rem;
        gap: 1.6rem;
        position: relative;

        /* Responsive Media Queries */
        @include mobilePortrait {
            padding-left:calc(11.7px + (36 - 11.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            padding-right:calc(11.7px + (36 - 11.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            gap: calc(14.3px + (46 - 14.3) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            padding: 0rem calc(11px + (28.44 - 11) * ((100vh - 270px) / (1024 - 270)));
            padding-bottom: 6.56rem;
            gap: 10rem;
        }
    }

    &__left-side {
        width: 100%;
    }

    &__img {
        min-width: 100%;
    }

    &__right-side {
        width: 100%;
        border: .1rem solid $gold;
        background-color: $backgroundOfferCakes;
        border-radius: .5rem;

        /* Responsive Media Queries */
        @include mobilePortrait {
            border-radius: calc(5px + (10 - 5) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }
    }

    &__offers-list {
        font-size: 1.4rem;
        font-weight: 700;
        font-family: $fontOne;
        padding: 1.6rem 0;
        padding-left: 1.4rem;

        /* Responsive Media Queries */
        @include mobilePortrait {
            font-size: calc(12.7px + (36 - 12.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            padding: calc(15.6px + (24 - 15.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16}))) 0;
            padding-left: calc(12.2px + (44 - 12.2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width: $bp-small-portraitWidth) {
            font-size: .9rem;
        }

        @include mobileLandscape {
            font-size: calc(18px + (30 - 18) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            padding: calc(16px + (30 - 16) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))) 0;
            padding-left: 1.4rem;
        }
    }

    &__barrier {
        display: block;
        margin: 0 auto;
        margin-top: .5rem;
        margin-bottom: calc(.5rem + #{$spaceBetweenIcons});
        width: .3rem;
        height: .3rem;
        background-color: $gold;
        border-radius: 50%;
        position: relative;

        /* Responsive Media Queries */
        @include mobilePortrait {
            width: calc(2.6px + (11 - 2.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(2.6px + (11 - 2.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            width: calc(10px + (15 - 10) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(10px + (15 - 10) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        &::before {
            content: '';
            width: 5.8rem;
            border-bottom: .1rem solid $gold;
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            /* Responsive Media Queries */
            @include mobilePortrait {
                width: calc(49.9px + (180 - 49.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));

                border-width: calc(.94px + (2 - .94) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width: $bp-small-portraitWidth) {
                width: 4rem;
            }

            @include mobileLandscape {
                width: calc(80px + (180 - 80) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
                border-width: calc(1px + (2 - 1) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }

            @include surfaceDuo {
                width: 11.5rem;
            }

        }

        &::after {
            content: '';
            width: 5.8rem;
            border-bottom: .1rem solid $gold;
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            /* Responsive Media Queries */
            @include mobilePortrait {
                width: calc(49.9px + (180 - 49.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));

                border-width: calc(.94px + (2 - .94) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width: $bp-small-portraitWidth) {
                width: 4rem;
            }

            @include mobileLandscape {
                width: calc(80px + (180 - 80) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));

                border-width: calc(1px + (2 - 1) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }

            @include surfaceDuo {
                width: 11.5rem;
            }
        }
    }

    &__cake {
        padding-bottom: $spaceBetweenIcons;

        &:before {
            content: '';
            background-size: $iconSize $iconSize;
            height: $iconSize;
            width: $iconSize;
            margin-right: .7rem;

            /* Responsive Media Queries */
            @include mobilePortrait {
                margin-right: calc(6.4px + (17 - 6.4) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                margin-right: calc(7px + (13 - 7) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }
        }

        &--icon {
            display: flex;
            align-items: center;
        }

        &--item {
            padding-left: 4rem;

            /* Responsive Media Queries */
            @include mobilePortrait {
                padding-left: calc(31.9px + (140 - 31.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                padding-left: calc(55px + (95 - 55) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }
        }
    }

    &__specialCake--title {
        &:before {
            background-image: url('../svg/birthdayCakeIcon.svg');
        }
    }

    &__specialCake--normal {

        &:before {
            background-image: url('../svg/normalCakeIcon.svg');
        }
    }

    &__specialCake--wedding {
        &:before {
            background-image: url('../svg/weddingCakeIcon.svg');
        }
    }

    &__specialCake--thematic {
        &:before {
            content: '';
            background-image: url('../svg/thematicCakeIcon.svg');
        }
    }

    &__commonCake--title {
        &:before {
            background-image: url('../svg/commonCakeIcon.svg');
        }
    }

    &__commonCake--traditional {
        &:before {
            background-image: url('../svg/traditionalCakeIcon.svg');
        }
    }

    &__commonCake--dessert {
        &:before {
            background-image: url('../svg/dessertCakeIcon.svg');
        }
    }

    &__cupCake--title {
        &:before {
            background-image: url('../svg/cupCakeIcon.svg');
            position: relative;
            bottom: .2rem;

            /* Responsive Media Queries */
            @include mobilePortrait {
                bottom: calc(1px + (8 - 1) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                bottom: calc(4px + (8 - 4) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }
        }
    }

    &__occasional--title {
        padding: 0;

        &:before {
            background-image: url('../svg/occasionalCakeIcon.svg');
        }
    }

    &__wave {
        height: 5.1rem;

        /* Responsive Media Queries */
        @include mobilePortrait {
            height: calc(45.2px + (148 - 45.2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }
    }

    &__wave-img {
        width: 100%;
        background-color: $backgroundOffer;
    }
}