@import './App.scss';
$spaceBetweenIcons: calc(2.7px + (9 - 2.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
$iconSize: calc(14px + (50 - 14) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));

.offer {
    height: auto;
    background-color: $backgroundOffer;
    display: flex;
    flex-direction: column;
    //position: relative; //do 2 sposobu

    &__section-title {
        margin-top: 13.8rem;
        margin-bottom: 2.7rem;
        position: relative;
        left: 94.7%;
        transform: translate(-94.7%);
        @include sectionTitleOne(Oferta);

        /* Responsive Media Queries */
        @include mobilePortrait {
            margin-top: calc(132.6px + (229 - 132.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            margin-bottom: calc(23.9px + (79 - 23.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            left: 96.7%;
            margin-top: calc(138px + (250 - 138) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            margin-bottom: calc(27px + (60 - 27) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0rem 1.3rem 6.56rem 1.3rem;
        gap: 1.6rem;
        position: relative;

        /* Responsive Media Queries */
        @include mobilePortrait {
            padding-left:calc(11.7px + (36 - 11.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            padding-right:calc(11.7px + (36 - 11.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            gap: calc(14.3px + (46 - 14.3) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            padding: 0rem calc(11px + (28.44 - 11) * ((100vh - 270px) / (1024 - 270)));
            padding-bottom: 6.56rem;
            gap: 10rem;
        }
    }

    &__left-side {
        width: 100%;
    }

    &__img {
        min-width: 100%;
    }

    &__right-side {
        width: 100%;
        border: .1rem solid $gold;
        background-color: $backgroundOfferCakes;
        border-radius: .5rem;

        /* Responsive Media Queries */
        @include mobilePortrait {
            border-radius: calc(5px + (10 - 5) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }
    }

    &__offers-list {
        font-size: 1.4rem;
        font-weight: 700;
        font-family: $fontOne;
        padding: 1.6rem 0;
        padding-left: 1.4rem;

        /* Responsive Media Queries */
        @include mobilePortrait {
            font-size: calc(12.7px + (36 - 12.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            padding: calc(15.6px + (24 - 15.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16}))) 0;
            padding-left: calc(12.2px + (44 - 12.2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width: $bp-small-portraitWidth) {
            font-size: .9rem;
        }

        @include mobileLandscape {
            font-size: calc(18px + (30 - 18) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            padding: calc(16px + (30 - 16) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16}))) 0;
            padding-left: 1.4rem;
        }
    }

    &__barrier {
        display: block;
        margin: 0 auto;
        margin-top: .5rem;
        margin-bottom: calc(.5rem + #{$spaceBetweenIcons});
        width: .3rem;
        height: .3rem;
        background-color: $gold;
        border-radius: 50%;
        position: relative;

        /* Responsive Media Queries */
        @include mobilePortrait {
            width: calc(2.6px + (11 - 2.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            height: calc(2.6px + (11 - 2.6) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }

        @include mobileLandscape {
            width: calc(10px + (15 - 10) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            height: calc(10px + (15 - 10) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
        }

        &::before {
            content: '';
            width: 5.8rem;
            border-bottom: .1rem solid $gold;
            position: absolute;
            right: 0;
            top: 50%;
            margin-right: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            /* Responsive Media Queries */
            @include mobilePortrait {
                width: calc(49.9px + (180 - 49.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));

                border-width: calc(.94px + (2 - .94) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width: $bp-small-portraitWidth) {
                width: 4rem;
            }

            @include mobileLandscape {
                width: calc(80px + (180 - 80) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
                border-width: calc(1px + (2 - 1) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }

            @include surfaceDuo {
                width: 11.5rem;
            }

        }

        &::after {
            content: '';
            width: 5.8rem;
            border-bottom: .1rem solid $gold;
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: 155.3%;
            transform: translateY(-50%);
            z-index: 1;

            /* Responsive Media Queries */
            @include mobilePortrait {
                width: calc(49.9px + (180 - 49.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));

                border-width: calc(.94px + (2 - .94) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @media screen and (orientation:portrait) and (min-width : $bp-small-portraitWidth) and (max-width: $bp-small-portraitWidth) {
                width: 4rem;
            }

            @include mobileLandscape {
                width: calc(80px + (180 - 80) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));

                border-width: calc(1px + (2 - 1) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }

            @include surfaceDuo {
                width: 11.5rem;
            }
        }
    }

    &__cake {
        padding-bottom: $spaceBetweenIcons;

        &:before {
            content: '';
            background-size: $iconSize $iconSize;
            height: $iconSize;
            width: $iconSize;
            margin-right: .7rem;

            /* Responsive Media Queries */
            @include mobilePortrait {
                margin-right: calc(6.4px + (17 - 6.4) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                margin-right: calc(7px + (13 - 7) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }
        }

        &--icon {
            display: flex;
            align-items: center;
        }

        &--item {
            padding-left: 4rem;

            /* Responsive Media Queries */
            @include mobilePortrait {
                padding-left: calc(31.9px + (140 - 31.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                padding-left: calc(55px + (95 - 55) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }
        }
    }

    &__specialCake--title {
        &:before {
            background-image: url('../svg/birthdayCakeIcon.svg');
        }
    }

    &__specialCake--normal {

        &:before {
            background-image: url('../svg/normalCakeIcon.svg');
        }
    }

    &__specialCake--wedding {
        &:before {
            background-image: url('../svg/weddingCakeIcon.svg');
        }
    }

    &__specialCake--thematic {
        &:before {
            content: '';
            background-image: url('../svg/thematicCakeIcon.svg');
        }
    }

    &__commonCake--title {
        &:before {
            background-image: url('../svg/commonCakeIcon.svg');
        }
    }

    &__commonCake--traditional {
        &:before {
            background-image: url('../svg/traditionalCakeIcon.svg');
        }
    }

    &__commonCake--dessert {
        &:before {
            background-image: url('../svg/dessertCakeIcon.svg');
        }
    }

    &__cupCake--title {
        &:before {
            background-image: url('../svg/cupCakeIcon.svg');
            position: relative;
            bottom: .2rem;

            /* Responsive Media Queries */
            @include mobilePortrait {
                bottom: calc(1px + (8 - 1) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
            }

            @include mobileLandscape {
                bottom: calc(4px + (8 - 4) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-medium-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
            }
        }
    }

    &__occasional--title {
        padding: 0;

        &:before {
            background-image: url('../svg/occasionalCakeIcon.svg');
        }
    }

    &__wave {
        height: 5.1rem;

        /* Responsive Media Queries */
        @include mobilePortrait {
            height: calc(45.2px + (148 - 45.2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        }
    }

    &__wave-img {
        width: 100%;
        background-color: $backgroundOffer;
    }
}


/* ============================================================================================================
                                                    Desktop
=============================================================================================================== */

.offer-desktop {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: $backgroundDesktop;
    position: relative;



    &__left-side {
        width: 30%;
        background: $backgroundDesktopOfferLeftSide;

        /* Responsive Media Queries */

        @include ipadPro {
            width: 35%;
        }

        @include desktopMedium {
            width: calc(30% + (200 - 30) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
        }
    }

    &__img {
        width: 249px;
        height: 269px;
        //margin-top: 323px;
        margin-top: 323px - 50px;
        margin-left: 116px;
    }

    &__right-side {
        background: $backgroundDesktopOfferRightSide;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    &__section-title {
        margin-top: 103px;
        //margin-bottom: 109.71px;
        margin-bottom: 50px;
        position: relative;
        left: 97.8%;
        transform: translate(-97.8%);
        @include sectionTitleOne(Oferta);
    }

    &__offers-container {
        width: 648.14px;
        height: 348.09px + 17.33px;
        margin-left: 121px;
        background: #FEF7F7;
        border: 1px solid #C19D56;
        box-sizing: border-box;
        border-radius: 38px;
    }

    &__offers-slider {
        margin-top: 17.33px;
    }

    &__slider-item {
        position: relative;
        z-index: 50;
        height: 348.09px; //height containera
    }

    &__cake {
        width: 103.17px !important;
        height: 100.41px !important;
        background: #F8E1E9;
        border: 3px solid #C19D56;
        border-radius: 50%;
        filter: blur(3px);
        //margin: 0 auto;
        margin: 5px auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__specialCake {
        &:after {
            content: '';
            background-image: url('../svg/birthdayCakeIcon.svg');
            background-size: 66.36px 61.84px;
            width: 66.36px;
            height: 61.84px;
        }
    }

    &__commonCake {
        &:after {
            content: '';
            background-image: url('../svg/commonCakeIcon.svg');
            background-size: 73px 89.39px;
            width: 73px;
            height: 89.39px;
        }
    }

    &__cupCake {
        &:after {
            content: '';
            background-image: url('../svg/cupCakeIcon.svg');
            background-size: 68.17px 82.65px;
            width: 68.17px;
            height: 82.65px;
        }
    }

    &__occasional {
        &:after {
            content: '';
            background-image: url('../svg/occasionalCakeIcon.svg');
            background-size: 68.17px 82.65px;
            width: 68.17px;
            height: 82.65px;
        }
    }

    &__cake-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 12.99px auto 20.39px auto;
        width: 194px;
        height: 56px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: $fontOne;
        font-weight: normal;
        font-size: 32px;
        color: black;
        visibility: hidden;
    }

    &__cupCake-title,
    &__occasional-title {
        margin-top: 61.5px;
    }

    &__occasional-title {
        width: 100%;
        font-size: 26px;
    }

    &__details {
        display: flex;
        flex-direction: row;
        visibility: hidden;
    }

    &__details {
        &--commonCake {
            display: flex;
            justify-content: space-between;
        }
    }

    &__detail {

        &--specialCakeNormal {
            /*             position: relative;
            right: 68px; */
            z-index: 60;

            position: absolute;
            right: 114%;
        }

        &--specialCakeThematic {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }

        &--specialCakeWedding {
            position: absolute;
            z-index: 60;
            left: 114%;
        }

        &--commonCakeTraditional {
            position: relative;
            right: 15%;
            /*  position: absolute;
            right: 65%; */
        }

        &--commonCakeDessert {
            position: relative;
            left: 10%;
            /*   position: absolute;
            left: 70%; */
        }
    }

    &__detail-icon {
        width: 88.2px;
        height: 83.48px;
        background: #F8E1E9;
        border: 3px solid #C19D56;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
            content: '';
        }

        &--specialCakeNormal {
            &:after {
                background-image: url('../svg/normalCakeIcon.svg');
                background-size: 53.05px 60.49px;
                width: 53.05px;
                height: 60.49px;
            }
        }

        &--specialCakeThematic {
            &:after {
                background-image: url('../svg/thematicCakeIcon.svg');
                background-size: 44.89px 59.85px;
                width: 44.89px;
                height: 59.85px;
            }
        }

        &--specialCakeWedding {
            &:after {
                background-image: url('../svg/weddingCakeIcon.svg');
                background-size: 52.76px 59.85px;
                width: 52.76px;
                height: 59.85px;
            }
        }

        &--commonCakeTraditional {
            &:after {
                background-image: url('../svg/traditionalCakeIcon.svg');
                background-size: 56px 59.85px;
                width: 56px;
                height: 59.85px;
            }
        }

        &--commonCakeDessert {
            &:after {
                background-image: url('../svg/dessertCakeIcon.svg');
                background-size: 48px 50px;
                width: 48px;
                height: 50px;
            }
        }
    }

    &__detail-title {
        text-align: center;
        font-family: $fontOne;
        font-size: 30px;
        font-weight: normal;
    }

    &__buttonArrow {
        width: 53px !important;
        height: 53px !important;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        border-radius: 100%;
        border: none;
        background: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        //outline: none;

        &:active {
            background-size: calc(100% - 3px) calc(100% - 3px);
        }

        &--right {
            //right: -25px;
            left: 100%;
            background-image: url(../svg/arrowRight.svg);
        }

        &--left {
            z-index: 70;
            //left: -25px;
            left: 0%;
            background-image: url(../svg/arrowLeft.svg);
        }
    }

    &__wave {
        position: absolute;
        top: 92.5%;
        width: 100%;
    }

    &__wave-img {
        width: 100%;
        height: 57px;
    }
}

/* REACT SLICT MODYFIKACJE  */

.slick-current .offer-desktop__slider-item .offer-desktop__cake {
    filter: blur(0);
}

.slick-current .offer-desktop__slider-item .offer-desktop__cake+.offer-desktop__cake-title {
    visibility: visible;
}

.slick-current .offer-desktop__slider-item .offer-desktop__cake+.offer-desktop__cake-title+.offer-desktop__details {
    visibility: visible;
}

.slick-slide div {
    //usuniecie czarnego zaznaczenia
    outline: none;
}

.slick-arrow {
    &:before {
        content: none !important;
        font-size: 0 !important;
        visibility: hidden !important;
    }
}

.button {
    width: 53px !important;
    height: 53px !important;
    background: none;
    border-radius: 100%;
    border: none;
    right: -25px;
    position: absolute;
    top: 50%;
    display: block;
    transform: translate(0, -50%);
    background-image: url(../svg/arrowRight.svg);
    cursor: pointer;
    outline: none;
}

.str {
    width: inherit;
    height: inherit;
    cursor: pointer;
}

/* .slick-prev {
    top: 50% !important;
    left: 0% !important;
    transform: translate(-50%, -50%) !important;
}

.slick-prev,
.slick-next {
    //background-color: white !important;

    &:before {
        color: $gold !important;
        //font-size: 51px !important;
    }
} */

/* .spr {
    padding: 4px;
} */

/* .slider {
    width: 700px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    color: white;
}

.slider .slide {
    padding: 40px;
}

.slider .slide .child-element {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: red;
    width: 100%;
    height: 70px;
}

.slider .slide.slick-center .child-element {
    background: rebeccapurple;
    -webkit-transform: translate(-70px, 0px);
    transform: translate(-70px, 0px);
    width: calc(100% + 140px);
    max-width: initial;
} */