@import './Base.scss';

@mixin button($width, $height, $fontSize) {
    width: $width;
    height: $height;
    font-family: $fontTwo;
    font-style: italic;
    font-weight: 600;
    font-size: $fontSize;
    line-height: $fontSize;
    border: .3rem solid;
    cursor: pointer;

    @media screen and (orientation:portrait) and (min-width : 360px) and (max-width : 1024px) {
        border-width: calc(3px + (6 - 3) * ((100vw - 360px) / (1024 - 360)));
    }

    @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
        border-width: calc(3px + (6 - 3) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
    }
}

.button-check {
    background-color: #FFFFFF;
    border-color: $gold;
    color: $gold;

    &:hover {
        background-color: $gold;
        color: #F1ECE6;
        border-color: #FFFFFF;
    }
}

.button-contact {
    background-color: $gold;
    border-color: #FFFFFF;
    color: #F1ECE6;

    &:hover {
        background-color: #FFFFFF;
        border-color: $gold;
        color: $gold;
    }
}