@import './Base.scss';

@mixin button($width, $height, $fontSize) {
    width: $width;
    height: $height;
    font-family: $fontTwo;
    font-style: italic;
    font-weight: 600;
    font-size: $fontSize;
    line-height: $fontSize;
    border: .3rem solid;
    cursor: pointer;

    /* Responsive Media Queries */

    @media screen and (orientation:portrait) and (min-width : 360px) and (max-width : 1024px) {
        border-width: calc(3px + (6 - 3) * ((100vw - 360px) / (1024 - 360)));
    }

    @media screen and (orientation:landscape) and (min-height : $bp-small-landscapeHeight) and (max-height : $bp-large-landscapeHeight) {
        border-width: calc(3px + (6 - 3) * ((100vh - #{$bp-small-landscapeHeight/1em*16px}) / (#{$bp-large-landscapeHeight/1em * 16} - #{$bp-small-landscapeHeight/1em * 16})));
    }

    @include desktopSmall {
        border-width: .3rem;
    }

    @include desktopMedium {
        border-width: calc(3px + (6 - 3) * ((100vw - #{$bp-medium-laptopWidth/1em*16px}) / (#{$bp-large-laptopWidth/1em * 16} - #{$bp-medium-laptopWidth/1em * 16})));
    }
}

.button-check {
    background-color: #FFFFFF;
    border-color: $gold;
    color: $gold;

    &:hover {
        background-color: $gold;
        color: #F1ECE6;
        border-color: #FFFFFF !important;
    }
}

.button-contact {
    background-color: $gold;
    border-color: #FFFFFF;
    color: #F1ECE6;

    &:hover {
        background-color: #FFFFFF;
        border-color: $gold;
        color: $gold;
    }
}

@mixin sectionTitleOne($title) {
    width: 188px;
    height: 55px;
    font-size: 36px;
    font-family: $fontOne;
    background-color: white;
    color: white;
    //text-align: center;
    font-weight: 400;

    @include mobilePortrait {
        width: calc(170.2px + (484.39 - 170.2) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        height: calc(50.7px + (127.46 - 50.7) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
        font-size: calc(33.9px + (72 - 33.9) * ((100vw - #{$bp-small-portraitWidth/1em*16px}) / (#{$bp-large-portraitWidth/1em * 16} - #{$bp-small-portraitWidth/1em * 16})));
    }

    &::before {
        content: "#{$title}";
        width: inherit;
        height: inherit;
        background-color: $gold;
        position: absolute;
        left: 5%;
        bottom: 15%;
        //Wyrównanie tekstu
        display: flex;
        align-items: center;
        justify-content: center;
        /*         top: 50%;
        margin-right: 155.3%;
        transform: translateY(-50%); */
    }
}